body{
	margin-top: 200px;
}
.container{
	display: flex;
	justify-self: center;
	flex-wrap: wrap;
}
form{
	input[type="text"]{
		display: flex;
		flex-direction: column;
		font-family: 'verdana';
	font-size: medium;
	}
	input[type="password"]{
		display: flex;
		flex-direction: column;
		font-family: 'verdana';
	font-size: medium;
	}	
}
form input{
	width: 88%;
	min-width: 300px;
}
.container{
	width: 65%;
	height: 75%;
	flex-wrap: wrap;
	min-width: 340px;
/* 	border:  solid #467061; */
	border-radius: 10px;
	display: flex;
	padding-right: 10px;
	.img{
		width: 50%;
		min-width: 327px;
		border: solid #467061;
		border-bottom-color: none;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.form{
		width: 45%;
		min-width: 320px;
		border: solid #467061;
		padding-left: 7px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		/* min-width: 400px; */
	}
	.form form{
		width: 100%;
		padding-top: 30px;
	}
}
h2{
	text-align: center;
	font-family: Garamond, serif;
	font-size: 2em;
	text-decoration: underline;
	text-decoration-color: brown;
	text-decoration-thickness: 4px;
}
form input{
	margin-bottom: 15px;
	display: flex;
	align-self: center;
	align-items: center;
}
form input[type="submit"]{
	width: 100px;
	height: 38px;
	display: flex;
	justify-self: center;
	align-self: center;
	border-radius: 15px;
	border-color: whitesmoke;
	background-color: rgba(42, 40, 40, 0.102);
	cursor: pointer;
	font-size: large;
	transition: .5s;
	overflow: hidden;
}
.check{
	display: inline-flex;
	width: 23vh;
	flex-direction: row;
	
	label{
		text-wrap: nowrap;
	}
}
form input{
	height: 25px;
	border-radius: 7px;
	border-color: #2d6298;
	margin-top: 6px;
}
form input[type="submit"]:hover{
	border-color: #2d6298;
	background-color: #2d6298;
	color: white;
	box-shadow: 0  0 5px #2d6298, 0 0 25px #2d6298;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
	
	font-size: large;
}
.title1{
	margin-top: 10px;
	margin-bottom: 4px;
}
.title2{
	margin-top: 10px;
	margin-bottom: 15px;
}
.words{
	margin: 9px 0 9px 2px;
}
.words-form{
	font-family: 'verdana';
	font-size: larger;
}
.text-account{
	margin-top: 5px;
}
.text-account a{
	color: #2d6298;
}
.img{
	display: flex;
	flex-direction: column;
	.image{
		align-items: flex-start;
		width: 100%;
		min-width: 320px;
		height: 100%;	
		img{
			height: 100%;
			width: 100%;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
	}
	.text p{
		display: flex;
		align-items: flex-end;
		
	}	
}
.sign-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	justify-content: space-around;
	margin-bottom: 20px;
}
.sign-logo img a{
	transition: transform 1.8s ease-in-out; /* Animation */
}
.sign-logo a img:hover{
	color: #f2f4f6;
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}